body {
    font-family: Courier;
    margin: 10px;
}
.about {
  	background-image: url("../assets/flying.gif");
  	background-size: cover;
  	color: white;
  }
 .social {
 	color:yellow;
 }
 .guide {
 	text-align:center;
 }
 .indxclr {
 	color:black;
 	 background-image: url("../assets/paper2.jpg");
  	background-size: cover;
 }
 .date {
 	font-size:12px;
 }
a:hover {
  color: red;
}
.beginning {
  border:10px solid black;
}
p:first-child:first-letter {
  float: left;
  font-size: 2em;
  font-family: Georgia;
}
nav:before {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 5px;
    content: "";
    background: url("../assets/bully31.gif") no-repeat 0 0;
    background-size: 100%;
  }
  .dancing {
    float: right;
    margin: 10px;
    width: 80px;
    height: 80px;
    clear:left;
  }

